.component {

}

.header {
	padding-top: 30px;
}

.headerLabels p {
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 101.1%;
	/* or 13px */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.07em;
	font-variant: small-caps;

	color: var(--light);
	margin-left: 30px;
}
