.component {
	height: 100vh;
	position: relative;
	overflow: hidden;
	margin-bottom: -30px;
}

.component hr {
	border-top: 11px solid var(--accent);
	border-bottom: none;
	width: 100%;
	position: relative;
	top: -10px;
	margin-bottom: -10px;
}

.header {
	margin-top: 44px;
}

.headerLabels p, .headerLabels a {
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 101.1%;
	/* or 13px */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.07em;
	font-variant: small-caps;

	color: var(--white);
	margin-left: 30px;
}

.headline {
	font-family: Raleway;
	font-style: normal;
	font-weight: 800;
	font-size: 100px;
	line-height: 110%;
	/* or 75px */

	margin-left: -10px;
	z-index: 1;

	color: #E6E6E6;
}

@media only screen and (max-width: 720px) {
	.header{
		margin-top: 34px;
	}

	.headline {
		font-size: 48px;
	}
}