.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button {
  text-align: center;
}

.button p {
  text-align: center;
  transition: font-size linear 200ms;
  user-select: none;
}

@media (pointer: fine) {
  .button:hover p {
    font-size: 52px;
  }
}


.fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1000ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}