.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button {
  padding: 20px;
  opacity: 0;
}

.button p {
  text-align: center;
  user-select: none;
  transition: transform ease-out 250ms;
}

.button:hover p {
  transform: scale(1.03, 1.03);
}

.fadeIn {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 900ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-1%);
  }

  to {
    opacity: 1;
    transform: translateX(10);
  }
}
