.component {
	margin-bottom: 180px;
}

.component p {
	font-weight: normal;
	font-size: 16px;
	line-height: 180%;
	/* or 29px */
	
	letter-spacing: .8px;
	
	color: var(--white);
	margin-bottom: 60px;
}

.projectImageComponent {
	cursor: pointer;
	overflow: hidden;
	transition: transform .3s; /* Animation */
}

.projectImageComponent:hover {
	transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
