.component {
  margin-bottom: 180px;
  overflow: hidden;
}

.component p {
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */

  letter-spacing: 0.07em;

  color: var(--white);
  margin-bottom: 60px;
}

.component img {
  object-fit: contain;
  transition: transform var(--animation-duration);
}

.component img:hover {
  transform: scale(1.1);
}

.projectImageComponent {
  cursor: pointer;
  overflow: hidden;
  background-color: #271818;
  transition: background-color var(--long-animation-duration);
  width: 100%;
}

.projectImageComponent:hover {
  background-color:  #afead9;
}

@media only screen and (max-width: 414px) {
  .component img {
    height: 60vh;
  }
}
