.label {
	font-weight: normal;
	font-size: 19px;
	line-height: 182.5%;
	/* identical to box height, or 35px */	
}

.email {
	font-weight: 800;
	font-size: 48px;
	line-height: 110%;
	/* identical to box height, or 53px */

	margin-bottom: 480px;
}