.component {
	padding-bottom: 42px;
}

.component hr {
	border-color: var(--accent);
	margin-bottom: 34px;
}

.label {
	font-weight: normal;
	font-size: 19px;
	line-height: 182.5%;
	/* identical to box height, or 35px */	
}

.email {
	font-weight: 800;
	font-size: 48px;
	line-height: 110%;
	/* identical to box height, or 53px */

	margin-bottom: 480px;
}

.link, .linkHeader {
	font-size: 11px;
	letter-spacing: 0.04em;
	line-height: 0px;
	/* identical to box height, or 0% */
	margin-bottom: 30px;
}

.linkHeader {
	font-weight: 900;
}

.link {
	font-weight: 600;
}

.grid {
	display: grid;
}