.component {
  height: 100vh;
}

.component hr {
  border-color: var(--accent);
  margin-bottom: 34px;
}

.label {
  font-weight: normal;
  font-size: 19px;
  line-height: 182.5%;
  /* identical to box height, or 35px */
}

.contactContainer {
  position: relative;
  bottom: 8vh;
}

.email {
  font-weight: 800;
  font-size: 48px;
  line-height: 110%;
  /* identical to box height, or 53px */
}

.email:hover {
  text-decoration: underline;
}

.link,
.linkHeader {
  font-size: 11px;
  letter-spacing: 0.04em;
  line-height: 0px;
  /* identical to box height, or 0% */
  margin-bottom: 30px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.linkHeader {
  font-weight: 900;
}

.link {
  font-weight: 600;
  transition: color var(--very-fast-animation-duration);
}

.link:last-child {
  margin-bottom: 72px;
}

.link:hover {
  color: var(--accent);
}

.grid {
  display: grid;
}

.linkColumnsContainer > div {
  margin-right: 100px;
}

@media only screen and (max-width: 420px) {
  .label {
    font-size: 18px;
  }
  .email {
    font-size: 36px;
  }
}

@media only screen and (max-width: 570px) {
  .linkColumnsContainer {
    justify-content: space-between;
  }
  .linkColumnsContainer > div {
    margin-right: 0px;
  }

  .component hr {
    margin-bottom: 24px;
  }

  .link,
  .linkHeader {
    margin-bottom: 28px;
  }

  .link:last-child {
    margin-bottom: 50px;
  }

  .contactContainer {
    bottom: 4vh;
  }
}
