.snapContainer {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.snapContainer > div {
  height: 100%;
  scroll-snap-align: start;
}

.snapItem > div {
  height: 100%;
}
