:root {
  --accent: #ff757e;
  --light: #f2f2f2;
  --white: white;
  --black: black;
  --light-gray: #bdbdbd;
  --gray: #5e5e5e;
}

:root {
  /* animations */
  --very-fast-animation-duration: 0.1s;
  --fast-animation-duration: 0.2s;
  --animation-duration: 0.3s;
  --long-animation-duration: 0.4s;
}

html,
body {
  background-color: #0a0a0a;
}

body {
  font-family: Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--light);
}

html {
  scroll-behavior: smooth;
}

button,
button:focus,
a {
  all: unset;
}

button,
a {
  cursor: pointer;
  display: block;
}

a:visited {
  color: unset;
}

body,
p,
hr {
  margin: 0;
}

.grid {
  margin: 0px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid > * {
  max-width: 820px;
}

.bold {
  font-weight: bold;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 47px */

  letter-spacing: 0.02em;

  color: var(--light);
  margin-bottom: 120px;
}

h2 {
  font-weight: bold;
  font-size: 13px;
  line-height: 130%;
  /* identical to box height, or 17px */

  letter-spacing: 0.2em;

  color: var(--accent);
  margin-bottom: 30px;
}

h3 {
  font-weight: normal;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */

  letter-spacing: 0.02em;

  color: var(--light);
  margin-bottom: 28px;
  max-width: 750px;
}

.scaleOnHover {
  transition: transform var(--animation-duration);
}

.scaleOnHover:hover {
  transform: scale(1.04);
}

.increaseLetterSpacingOnHover {
  transition: letter-spacing var(--animation-duration);
}

.increaseLetterSpacingOnHover:hover {
  letter-spacing: 0.015em;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn var(--animation-duration) ease-in-out;
  animation-fill-mode: forwards;
}

.fadeInSlow {
  opacity: 0;
  animation: fadeIn 0.9s ease-in-out;
  animation-delay: var(--fast-animation-duration);
  animation-fill-mode: forwards;
}

.transparent {
  opacity: 0;
}

.fadeOut {
  animation: fadeOut var(--animation-duration);
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#translateSection {
  opacity: 0;
  transform: translateX(-100px);
}

@keyframes translateSectionAnimation {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

#scaleSection {
  opacity: 0;
  transform: scale(1.06);
}

@keyframes scaleSectionAnimation {
  from {
    opacity: 0;
    transform: scale(1.06);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

#fadeInSection {
  opacity: 0;
}

@keyframes fadeInSectionAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
