:root {
  --accent: #FF757E;
  --light: #EDEDED;
  --white: white;
  --black: black;
  --light-gray: #BDBDBD;
  --gray: #5E5E5E;
}

:root {
  --space-m: 50px;
}

body {
  background: linear-gradient(180deg, #1F1F1F 0%, #080808 100%);
  margin: 0;
  font-family: Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--light);
}

html {
  scroll-behavior: smooth;
}

button,
button:focus,
a {
  all: unset;
}

button,
a {
  cursor: pointer;
  display: block;
}

a:visited {
  color: unset;
}

p {
  margin: 0;
}

.grid {
  margin: 0px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid > * {
  max-width: 820px;
}

.bold {
  font-weight: bold;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 47px */

  letter-spacing: 0.02em;

  color: var(--light);
  margin-bottom: 120px;
}

h2 {
  font-weight: normal;
  font-size: 48px;
  line-height: 130%;
  /* or 62px */

  letter-spacing: 0.02em;

  color: var(--light);
  margin-bottom: 28px;
  max-width: 750px;
}

h3 {
  font-weight: bold;
  font-size: 13px;
  line-height: 130%;
  /* identical to box height, or 17px */

  letter-spacing: 0.2em;

  color: var(--accent);
  margin-bottom: 30px;
}

.scaleOnHover {
  transition: transform .3s; /* Animation */
}

.scaleOnHover:hover {
  transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.increaseLetterSpacingOnHover {
  transition: letter-spacing .2s; /* Animation */
}

.increaseLetterSpacingOnHover:hover {
  letter-spacing: 0.008em;
}


